

.item {
  font-size: 35px;
  font-weight: normal;
  text-align: center;
  font-family: "Courier New", "Times New Roman", Times, serif;
}
  
.feedback {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  font-family: "Courier New", "Times New Roman", Times, serif;
}