<!DOCTYPE html>

{% extends "quizit/base.html" %}

{% block content %}

<h3>Data Driven Language Learning</h3>
<br>
<h4>The short version</h4>
Provide the Spanish translation of the word or short sentence shown. If you get it right you'll move on to harder words, if you get it wrong you can expect to see the word again. 
<br><br>
<h4>The long version</h4>
Online language/vocab learning apps are cool, but can sometimes be repetitive. This simple site provides language learning support based on a few simple principles

<ul>
<li>Interactive: the items are selected based on previous performance. If you get an item wrong you're more likely to see it again. If you get items right on the first try, you're unlikely to see them again and you may even skip over nearby items.The focus is on getting you to practice words you don't know yet, rather than repeats words you do know.</li>
<li>Continuous: Let's face it to master a language you need to know a lot of words. This site lets you practice until you've had enough for the hour/day/week. There is no build in chapter or lesson structure. Whenever you answer an item, the next item is presented straightaway. Some say this makes it easy to keep going. Others may hate it.</li>
</ul>

If you need to type an accent below you'll find a list of "shortcuts". If you need to type a 'ñ' you can also type 'n~', this will converted to a 'ñ'. I added this functionality, because I was struggling to get Chrome to produce the correct characters. I have since figure this out, also if you're accessing this on a phone, typing Spanish characters may not be as challending.
<br>

This is an initial version with many limitations like:
<ul>
<li>The content has not been proofed, which means you may come across an item where the translation is incorrect. To help identify problem items, I added a button to flag these. Once an items is flagged no one will see it, until it's been checked, updated or cleared.</li>
<li>There's more</li>
</ul>
<br>
Here is some additional functionality I'd like to add:
<ul>
<li>The concept of content tags, allowing you to for example focus on words related to food. </li>
<li>Update this about page, with more eloquently written text. </li>
</ul>
<br>
Finally, I've used different iterations of this concept for my personal use for many years. But this is the first version that's shareable in a semi-useful state. 

<br>
<h3>Accents</h3>
'a^' = 'â'<br>
'a\' = 'à'<br>
'a/' = 'á'<br>
'e^' = 'ê'<br>
'e\' = 'è'<br>
'e/' = 'é'<br>
'i^' = 'î'<br>
'i\' = 'ì'<br>
'i/' = 'í'<br>
'o/' = 'ó'<br>
'c5' = 'ç'<br>
'u/' = 'ú'<br>
'u^' = 'û'<br>
'u\' = 'ù'<br>
'n~' = 'ñ'<br>
<br>
{% endblock content %}
