
<!DOCTYPE html>

{% extends "quizit/base.html" %}

{% load static %}

<html>

	{% block content %}

	<head>
		<link rel="stylesheet" type="text/css" href="{% static "quizit/basic.css" %}">	
	</head>

	<body>
		<div class="item">
			<br><br><br>
			<form action="{% url 'quizit:basic' item.id %}" method="post" class="item">

				{% csrf_token %}
				<label name="question"> {{ item.question }} </label><br><br>
				<input class="item" name="item_key" type="hidden" value="{{ item.key }}" > 
				<input class="item" name="given_answer" type="text" value="" autocomplete="off" autofocus> 

			</form>
		</div>
		<br>
		<div class="feedback">
				{{ feedback|linebreaks }}	
		</div>
	</body>

	{% endblock content %}
	
</html>